<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../Task/task.css">
    <title>Задача №</title>
  </head>
  <body>
    <div class="object_card">
      <h3 class="object_title">Объект:</h3>
      <div class="object_address">Адресс:</div>
      <div class="object_manager">Менеджер:</div>
      <div class="object_platform">Ссылка:</div>
      <div class="object_tasks">Задачи:</div>
    </div>
  </body>
</html>
